.scrollable-list {
  max-height: 100%;
  overflow-y: auto;
}
.fixed-height {
  height: 600px; /* Set the desired fixed height */
}
.flex-fill-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-fill-height .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.flex-fill-height .list-group {
  flex: 1;
  overflow-y: auto;
}

/* 좌우 반전 및 기본 비디오 스타일 */
#video {
  transform: scaleX(-1);
  /* 좌우 반전 */
  max-width: 100%;
  /* 반응형 크기 조정 */
  height: auto;
  /* 반응형 크기 조정 */
}

.header-section h2 {
  color: #ffcee6;
  /* 핑크색 */
  margin-bottom: 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.divider {
  height: 2px;
  background-color: #ffcee6;
  /* 핑크색 */
  width: 100%;
  margin: 10px 0;
}
