<!DOCTYPE html>
<html>

<head>
    <title>Firebase 연동 테스트</title>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>

</head>

<body>
    <h1>Firebase 연동 테스트</h1>
    <script type="module">
        import firebaseConfig from '/config/config.js';

        firebase.initializeApp(firebaseConfig);

        var database = firebase.database();

        function writePositionData(value) {
            firebase.database().ref('position/').set(value);
        }
        writePositionData("1")
    </script>
</body>

</html>