<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder Test</title>
</head>

<body>
    <button id="recording">Start/Stop Recording</button>
    <button id="playRecording" disabled>Play Recording</button>
    <audio id="audioPlayer" controls></audio>
    <div id="result"></div>

    <script>
        let audioChunks = [];
        let mediaRecorder;

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = event => {
                        audioChunks.push(event.data);
                    };
                    mediaRecorder.onstop = () => {
                        const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                        const audioUrl = URL.createObjectURL(audioBlob);
                        document.getElementById('audioPlayer').src = audioUrl;

                        var today = getTodayDateTimeString();

                        const formData = new FormData();
                        formData.append("file", audioBlob, today + ".wav");

                        fetch('/upload', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message === "Uploaded successfully") {
                                    document.getElementById('result').innerText = data.text;
                                } else {
                                    document.getElementById('result').innerText = "Failed to upload";
                                }
                            })
                            .catch(error => {
                                console.error('Error occurred during upload:', error);
                                document.getElementById('result').innerText = "Error occurred during upload";
                            });
                    };
                    mediaRecorder.start();

                    document.getElementById('recording').removeEventListener('click', startRecording);
                    document.getElementById('recording').addEventListener('click', stopRecording);
                })
                .catch(console.error);
        }

        function stopRecording() {
            document.getElementById('recording').disabled = false;
            document.getElementById('playRecording').disabled = false;
            mediaRecorder.stop();

            document.getElementById('recording').removeEventListener('click', stopRecording);
            document.getElementById('recording').addEventListener('click', startRecording);
        }

        function playRecording() {
            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
            const audioUrl = URL.createObjectURL(audioBlob);
            const audio = new Audio(audioUrl);
            audio.play();
        }

        document.getElementById('recording').addEventListener('click', startRecording);
        document.getElementById('playRecording').addEventListener('click', playRecording);

        function getTodayDateTimeString() {
            var today = new Date();
            var year = today.getFullYear();
            var month = today.getMonth() + 1;
            var day = today.getDate();
            var hours = today.getHours();
            var minutes = today.getMinutes();
            var seconds = today.getSeconds();

            if (month < 10) { month = '0' + month; }
            if (day < 10) { day = '0' + day; }
            if (hours < 10) { hours = '0' + hours; }
            if (minutes < 10) { minutes = '0' + minutes; }
            if (seconds < 10) { seconds = '0' + seconds; }

            return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
        }
    </script>
</body>

</html>