<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>Haptics</title>
  <meta name="description" content="...">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- speed up external res -->
  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/">

  <!-- preloading icon font is helping to speed up a little bit -->
  <link rel="stylesheet" href="/static/assets/css/style.bundle.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Core javascripts -->
  <!-- Your custom javascripts -->
  <script src="/static/assets/js/widgets.bundle.js"></script>
  <script src="/static/assets/js/scripts.bundle.js"></script>
  <script src="/static/js/custom.js"></script>

  <main id="middle" class="flex-fill p-0">
    <header class="page-title p-4 p-md-5">
      <!-- page title -->
      <h1 class="h2 mb-0 fw-bold">화해</h1>
      <p class="lead text-gray-700">Hwahae</p>
    </header>
    <div class="container">

    </div>
  </main>
</body>

</html>