{% extends "base.html" %}

{% block title %}질문하기 - Ms. 메이크{% endblock %}

{% block content %}
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-firestore.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="card p-4">
    <video id="video" width="480" height="320" autoplay></video>
    <canvas id="canvas" width="480" height="320" style="display:none;"></canvas>
</div>

<div id="recording" class="card my-4">
    <a class="btn btn-light-danger px-8 d-flex flex-column justify-content-center align-items-center text-start">
        <img id="recording-img" src="/static/images/웃는 메이크.png" alt="메이크업 이미지" style="height: 150px;">
        <span id="recording-text" class="fs-1 do-hyeon-regular text-black mt-2">질문하기</span>
    </a>
</div>

<div class="card p-4 my-4 do-hyeon-regular text-center">
    <div id="intro-text" class="fs-1 m-3">🤩 메이크업 아티스트 Ms.
        메이크입니다 🤩<br>화면에 보이는 화장품에 대해 물어볼까요?🔊</div>
    <ul id="questions-list" class="fs-3 list-unstyled text-muted">
        <li class="badge badge-light-danger fs-3 mb-2">분홍색 섀도우 위치 어딨어?</li>
        <li class="badge badge-light-danger fs-3 mb-2">섀도우 색 설명해줘</li>
        <li class="badge badge-light-danger fs-3 mb-2">오른쪽 첫번째 섀도우 색은 뭐야?</li>
    </ul>
    <div id="server-response" class="fs-3" style="display: none;">
    </div>
    <div>
        <audio id="audio-player" style="display:none;"></audio>
    </div>
</div>
{% include 'websocket.html' %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="/static/js/video.js"></script>
{% endblock %}