{% extends "base.html" %}

{% block title %}질문하기 - Ms. 메이크{% endblock %}

{% block content %}
<!-- Camera Section -->
<div class="text-center mb-4">
  <video id="video" autoplay></video>
  <img id="fallbackImage" class="center" src="/static/images/화장품 핑크 배경.jpg" alt="Fallback Image">
</div>

<!-- Question Section -->
<div class="card p-4">
  <div class="text-center mb-4">
    <img src="/static/images/질문하기.jpg" alt="Ms. 메이크 아바타" class="img-fluid" style="max-width: 300px;">
  </div>
  <div class="card-body">
    <p class="text-muted text-center">메이크업 아티스트 Ms. 메이크에게 물어보세요.</p>
    <ul class="list-unstyled text-muted text-center">
      <li class="mb-2">“분홍색 섀도우 위치 어딨어?”</li>
      <li class="mb-2">“섀도우 색 설명해줘”</li>
      <li>“오른쪽 첫번째 섀도우 색은 뭐야?”</li>
    </ul>
  </div>
</div>
{% endblock %}
