<!doctype html>
<html lang="en" dir="ltr">

<head>
  <title>질문하기 - Ms. 메이크</title>
  <meta name="description" content="Ms. 메이크에게 메이크업 관련 질문을 해보세요.">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/">

  <link rel="stylesheet" href="/static/assets/css/style.bundle.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap" rel="stylesheet">
  <style>
    #video {
      transform: scaleX(-1);
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
    }
    .header-section {
      text-align: center;
    }
    .header-section h2 {
      color: #ffcee6;
      margin-bottom: 0;
    }
    .divider {
      height: 2px;
      background-color: #ffcee6;
      width: 100%;
      margin: 10px 0;
    }
    .hidden {
      display: none;
    }
    #capturedImage {
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: 0 auto;
      display: none;
    }
  </style>
</head>

<body>
  <div class="container mt-4">
    <div class="text-center mb-4">
      <div class="header-section">
        <h2>화해</h2>
        <div class="divider"></div>
      </div>
    </div>

    <div class="text-center mb-4">
      <video id="video" autoplay></video>
      <canvas id="canvas" class="hidden"></canvas>
      <img id="capturedImage" alt="Captured Image">
    </div>
    
    <div class="card p-4">
      <div class="text-center mb-4">
        <img id="questionImage" src="/static/images/질문하기.jpg" alt="Ms. 메이크 아바타" class="img-fluid" style="max-width: 300px;">
      </div>
      <div class="card-body">
        <p class="text-muted text-center">메이크업 아티스트 Ms. 메이크에게 물어보세요.</p>
        <ul class="list-unstyled text-muted text-center">
          <li class="mb-2">“분홍색 섀도우 위치 어딨어?”</li>
          <li class="mb-2">“섀도우 색 설명해줘”</li>
          <li>“오른쪽 첫번째 섀도우 색은 뭐야?”</li>
        </ul>
        <p id="userTranscription" class="text-center">사용자: </p>
        <p id="gptTranscription" class="text-center">GPT: </p>
        <div class="text-center">
          <audio id="audioPlayback" controls class="hidden"></audio>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/assets/js/widgets.bundle.js"></script>
  <script src="/static/assets/js/scripts.bundle.js"></script>
  <script>
    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext('2d');
    let mediaRecorder;
    let audioChunks = [];
    let stream;
    let isRecording = false;

    const questionImage = document.getElementById('questionImage');
    const audioPlayback = document.getElementById('audioPlayback');
    const userTranscription = document.getElementById('userTranscription');
    const gptTranscription = document.getElementById('gptTranscription');
    const capturedImage = document.getElementById('capturedImage');

    // 웹사이트 로드 시 권한 요청 및 스트림 시작
    window.addEventListener('load', () => {
      navigator.mediaDevices.getUserMedia({ video: true, audio: true })
        .then(function(mediaStream) {
          stream = mediaStream;
          video.srcObject = stream;
        })
        .catch(function(err) {
          console.error("Error accessing the camera or microphone: " + err);
        });
    });

    questionImage.addEventListener('click', () => {
      if (stream) {
        captureImage();
        toggleRecording();
      }
    });

    // 이미지를 캡쳐하는 함수
    function captureImage() {
      const video = document.getElementById("video")
      const canvas = document.getElementById('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      canvas.getContext("2d").drawImage(video, 0, 0, canvas.width, canvas.height);
      canvas.toBlob((blob) => {
            const formData = new FormData();
            formData.append('file', blob, 'capture.png');

            fetch('/transcribe_image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                console.log('Upload successful:', data);
            })
            .catch(error => {
                console.error('Error uploading:', error);
            });
        }, 'image/png');
    }

    function toggleRecording() {
      if (!isRecording) {
        mediaRecorder = new MediaRecorder(stream);
        audioChunks = [];
        mediaRecorder.start();
        isRecording = true;
        console.log('Recording started.');

        mediaRecorder.ondataavailable = function(event) {
          audioChunks.push(event.data);
        };

        mediaRecorder.onstop = function() {
          console.log('Recording stopped.');
          const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });


          // 오디오 및 이미지 파일을 서버로 전송하여 STT 요청
          const formData = new FormData();
          formData.append('file', audioBlob, 'recording.wav');

          fetch('/transcribe_audio', {
            method: 'POST',
            body: formData
          })
          .then(response => response.json())
          .then(data => {
            console.log('Transcription Response:', data);
            userTranscription.textContent = `사용자: ${data.text}`;
            return fetch('/generate_gpt_response', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ user_text: data.text })
            });
          })
          .then(response => response.json())
          .then(data => {
            console.log('GPT Response:', data);
            gptTranscription.textContent = `GPT: ${data.gpt_text}`;
            return fetch('/generate_audio', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({ gpt_text: data.gpt_text })
            });
          })
          .then(response => response.json())
          .then(data => {
            console.log('Audio Response:', data);
            const audioUrl = data.audio_url;
            audioPlayback.src = audioUrl;
            audioPlayback.classList.remove('hidden');
          })
          .catch(error => {
            console.error('Error:', error);
          });

          // 재생바 업데이트
          const audioUrl = URL.createObjectURL(audioBlob);
          audioPlayback.src = audioUrl;
          audioPlayback.classList.remove('hidden');
        };
      } else {
        mediaRecorder.stop();
        isRecording = false;
        console.log('Recording stopped manually.');
      }
    }
  </script>
</body>

</html>
