<script type="module">
    import firebaseConfig from '/config/config_mod.js';

    firebase.initializeApp(firebaseConfig);

    var database = firebase.database();

    function writePositionData(value) {
        firebase.database().ref('position/').set(value);
    }

    const ws = new WebSocket("ws://localhost:8000/ws");

    ws.onopen = function () {
        console.log("WebSocket connection opened");
    };

    ws.onmessage = function (event) {
        const position = JSON.parse(event.data);
        const positionText = position.text;
        const positionData = position.data;

        const recordingElement = document.getElementById('recording');

        if (positionText) {
            // 기존 recording 요소를 숨기고 텍스트 요소를 추가
            recordingElement.style.display = "none";
            let textElement = document.getElementById('textRecording');
            if (!textElement) {
                textElement = document.createElement('p');
                textElement.id = 'textRecording';
                textElement.classList.add('black-han-sans-regular', 'fs-1', 'p-5', 'text-center');
                recordingElement.parentNode.insertBefore(textElement, recordingElement.nextSibling);
            }
            textElement.textContent = "Haptic Guidance가 실행돼요😊";

            if (positionText === "False") {
                captureImage().then(imageBlob => {
                    ws.send(imageBlob);
                });
            }
        }
        if (positionData == "0" || "9") {
            recordingElement.style.display = "block";
            const textElement = document.getElementById('textRecording');
            if (textElement) {
                textElement.remove();
            }
            if (positionData == "9") {
                const serverResponse = document.getElementById('server-response');
                if (serverResponse) {
                    serverResponse.innerText = "인식하지 못한 좌표값이 있어요🥺";
                }
            }
        }
        writePositionData(positionData);
    };

    ws.onclose = function () {
        console.log("WebSocket connection closed");
    };

    ws.onerror = function (error) {
        console.error("WebSocket error:", error);
    };

</script>